{% extends 'base.html' %}

{% block title %}About HRMS{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">About HRMS</h1>
                        <p class="card-text" style="color: black;">
                            Welcome to HRMS, an efficient Human Resource Management System designed to streamline various HR processes.
                            Our system aims to simplify employee management, leaves, payroll, and other HR-related tasks. With features tailored for ease of use and efficiency, HRMS strives to optimize the workforce management experience.
                            <br><br>
                            At HRMS, we're dedicated to ensuring a smooth workflow within your organization, enhancing productivity, and empowering your HR department to handle the complexities of human resources seamlessly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
